@media (max-width: 991px) and (min-width: 767px) {
    .gameIdCol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .w-25 {
        width: 33% !important;
    }
}

@media (max-width: 767px) and (min-width: 576px) {
    .gamesPageCard {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .gamesPageCard .w-50 {
        width: 50% !important;
    }

    .col-md-4 {
        width: 70%;
    }

    .row {
        justify-content: center;
    }

    .gamesPageCard .w-25 {
        width: 50% !important;
    }
}

@media (max-width: 576px) {
    .gamesPageCard {
        display: flex;
        justify-content: center
    }

    .gamesPageCard .w-25 {
        width: 80% !important;
    }

    .gamesPageCard .w-50 {
        width: 80% !important;
    }

    .mostWanted {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenMostWanted {
        width: 60%;
    }
}


.gamesPageCard {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
}

.backgroundById {
    background-image:
        linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
}


@media (max-width: 767px) {
    .gameCardBuy {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        padding: 20px;
        justify-content: center;
    }

    .iconBuy {
        padding: 5px;
    }

    .btnBuy {
        width: 100%;
        display: flex;
        justify-content: center;
    }


}


@media (min-width: 992px) {

    .carouselBorder {
        height: 45vh;
        border: 1px solid #6441a5;
        width: 100%;
    }

    .imgCarousel {
        height: 44.8vh;
        object-fit: fill !important;
        width: 100% !important;
    }
}

@media (max-width:992px) {

    /* carousel */
    .carouselBorder {
        border: 1px solid #6441a5;
        width: 100%;
        height: 30vh;
    }

    .imgCarousel {
        height: 29.8vh;
        object-fit: fill !important;
        width: 100% !important;
    }
}

/* Accordion */
.accordion-button {
    background-color: #232324 !important;
    color: white;
}

.accordion-button:focus {
    border-color: #262729;
    box-shadow: none;
    color: #474bff;
}

.accordion-button:hover {
    color: #474bff !important;
}

.accordion-button.collapsed {
    color: white;
}

.accordion-body {
    background-color: #262729;
    color: white;
    border-bottom-color: #262729;
}

.accordion {
    --bs-accordion-border-color: #262729 !important;
}

.accordion-button:not(.collapsed) {
    color: #474bff;
}