/* @media (max-width: 992px) and (min-width: 580px) {
    .gamesPageCard .w-25 {
        width: 50% !important;
    }
    .bgCard {
        margin-bottom: 0rem !important;
    }
}


@media (max-width: 580px) and (min-width: 100px) {
    .imagenMostWanted {
        width: 85%;
    }
    .mostdownloaded{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gamesPageCard {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 0px !important;
    }
    .bgCard {
        margin-bottom: 0px !important;
    }

    .gamesPageCard .w-50 {
        width: 90% !important;
        margin-bottom: 0rem;
    }

    .gamesPageCard .w-25 {
        width: 90% !important;
    }
} */

.gamesPageCard {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
}

