
.bgCardLogin{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    border: 1px solid #6F3AFF !important;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 30px;

  border:1px solid #5e4dcd;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

.bgCardLogin:hover{
    border: 2px solid #6F3AFF !important;
}


.TituloLogin{
    transition: movimiento 2s linear infinite;
}

@keyframes movimiento{
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(30px);
    }
    100%{
      transform: translateY(0)
    }
  }


.volverInicio:hover{
    color: #6F3AFF !important ;
}