body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    scroll-behavior: smooth !important;
    overflow-x: hidden !important;
    background-color: #262729;
  
}

.nav-link .linka{
    all: unset;
    cursor: pointer;
}

.titles {
    color: #6F3AFF !important;
    cursor: pointer;
    font-size: 1rem;
}
.bgNavbar{
    background-color: #111315 !important;
}

.buttonLogin {
    --green: #6F3AFF;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(95, 27, 253, 0.1) 1%, transparent 40%,transparent 60% , rgba(121, 27, 253, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(132, 27, 253, 0.4), 0 0 9px 3px rgba(76, 27, 253, 0.1);
   }

  
   
   .buttonLogin:hover {
    color: #a882ff;
    box-shadow: inset 0 0 10px rgba(95, 27, 253, 0.6), 0 0 9px 3px rrgba(68, 27, 253, 0.2)
   }
   
   .buttonLogin:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(121, 27, 253, 0.323) 40%,rgba(95, 27, 253, 0.392)60% , transparent 100%);
   }
   
   .buttonLogin:hover:before {
    transform: translateX(15em);
   }

   /* button exit */

   .buttonLogout {
    --green: #ff3a3a;
    font-size: 15px;
    padding: 0.7em 0.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(253, 27, 27, 0.1) 1%, transparent 40%,transparent 60% , rgba(253, 27, 27, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.4), 0 0 9px 3px rgba(253, 27, 27, 0.1);
   }

   
   .buttonLogout:hover {
    color: #ff8282;
    box-shadow: inset 0 0 10px rgba(253, 27, 27, 0.6), 0 0 9px 3px rrgba(68, 27, 253, 0.2)
   }
   
   .buttonLogout:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(253, 27, 27, 0.323) 40%,rgba(253, 27, 27, 0.392)60% , transparent 100%);
   }
   
   .buttonLogout:hover:before {
    transform: translateX(15em);
   }


   /* boton de login Card  */

   .buttonLoginAuth {
    --green: #3aff5b;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(27, 253, 35, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 53, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 65, 0.4), 0 0 9px 3px rgba(27, 253, 46, 0.1);
   }
   
   .buttonLoginAuth:hover {
    color: #82ff8c;
    box-shadow: inset 0 0 10px rgba(27, 253, 46, 0.6), 0 0 9px 3px rgba(27, 253, 72, 0.2)
   }
   
   .buttonLoginAuth:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 29em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(27, 253, 91, 0.323) 40%,rgba(27, 253, 91, 0.392)60% , transparent 100%);
   }
   
   .buttonLoginAuth:hover:before {
    transform: translateX(15em);
   }





/* boton registro */

.buttonRegistro {
    --green: #ffc13a;
    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--green);
    background: linear-gradient(to right, rgba(253, 181, 27, 0.1) 1%, transparent 40%,transparent 60% , rgba(253, 200, 27, 0.1) 100%);
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(253, 181, 27, 0.4), 0 0 9px 3px rgba(253, 155, 27, 0.1);
   }
   
   .buttonRegistro:hover {
    color: #ffc13aaa;
    box-shadow: inset 0 0 10px rgba(253, 208, 27, 0.6), 0 0 9px 3px rgba(253, 181, 27, 0.2)
   }
   
   .buttonRegistro:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 29em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(253, 200, 27, 0.323) 40%,rgba(242, 253, 27, 0.392)60% , transparent 100%);
   }
   
   .buttonRegistro:hover:before {
    transform: translateX(15em);
   }



   ul {
    list-style-type: none;
  }

  .bgCard{
      box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
      transition: all 400ms ease;
      cursor: pointer;
    border: 1px solid #6F3AFF !important;
    background-color: rgba(0, 0, 0, 0.391);

  }

  .bgCard:hover{
      filter: grayscale(60%);
      border: 1px solid #ffffff !important;
      transform: translateY(-3%);
    box-shadow: 5px 5px 20px rgba(146, 37, 255, 0.453);
  }

   /* CSS para el LOADER */
   .loader {
    --path: #ffffff;
    --dot: #5628ee;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
  }
  
  .loader:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    transform: translate(-18px, -18px);
    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .loader svg rect, .loader svg polygon, .loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader.triangle {
    width: 48px;
  }
  
  .loader.triangle:before {
    left: 21px;
    transform: translate(-10px, -18px);
    animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  @keyframes pathTriangle {
    33% {
      stroke-dashoffset: 74;
    }
  
    66% {
      stroke-dashoffset: 147;
    }
  
    100% {
      stroke-dashoffset: 221;
    }
  }
  
  @keyframes dotTriangle {
    33% {
      transform: translate(0, 0);
    }
  
    66% {
      transform: translate(10px, -18px);
    }
  
    100% {
      transform: translate(-10px, -18px);
    }
  }
  
  @keyframes pathRect {
    25% {
      stroke-dashoffset: 64;
    }
  
    50% {
      stroke-dashoffset: 128;
    }
  
    75% {
      stroke-dashoffset: 192;
    }
  
    100% {
      stroke-dashoffset: 256;
    }
  }
  
  @keyframes dotRect {
    25% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(18px, -18px);
    }
  
    75% {
      transform: translate(0, -36px);
    }
  
    100% {
      transform: translate(-18px, -18px);
    }
  }
  
  @keyframes pathCircle {
    25% {
      stroke-dashoffset: 125;
    }
  
    50% {
      stroke-dashoffset: 175;
    }
  
    75% {
      stroke-dashoffset: 225;
    }
  
    100% {
      stroke-dashoffset: 275;
    }
  }
  
  .loader {
    display: inline-block;
    margin: 0 16px;
  }
  
 /* finaliza el loader   */



.badge {
    border-radius: 0% !important ;
    padding-top: 9px ;
}


/* CSS de buscador Navbar */

.input-group {
    display: flex;
    align-items: center;
  }
  
  .input {
    min-height: 50px;
    max-width: 150px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }

  .imagenCard{
    width: 100%;
  }
  

  @media (max-width: 700px) {
    .searchMobileQuery{
        width: 100% !important;
        margin-bottom: 10px;
    }


    
  }

  .gameCardIdWallpaper{
    background: url({gameCardId?.detalle[0]?.background}) cover;
  }


  .contenedor{
    position: relative;
    display: inline-block;
  }

  
  
  .texto{
   position: absolute;
   top: 10px;
   left: 5;
    
  }

